{% extends 'base.html' %}

{% block content %}
  <h2>Kalendář tréninků</h2>
  <div id="calendar"></div>

  <script type="text/javascript">
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            events: [
                {% for training in trainings %}
                {
                    title: '{{ training.title }}',
                    start: '{{ training.date }}',
                    description: '{{ training.description }}',
                },
                {% endfor %}
            ],
            editable: true,
            droppable: true,
            eventClick: function(event) {
                alert('Trénink: ' + event.title + '\nPopis: ' + event.description);
            }
        });
    });
  </script>
{% endblock %}
