{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trénink Deník{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'kalendar' %}">Trénink Deník</a>
            <div class="navbar-nav"></div>
                {% if request.user.is_authenticated %}
                    <li><a class="nav-link text-light" href="{% url 'treninky' %}">Moje tréninky</a></li>
                    <li><a class="nav-link text-light" href="{% url 'uzivatel_udaje' %}">O vás</a></li>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}        
        <div class="text-center mb-3">
            <a href="{% url 'kalendar' predchozi_rok predchozi_mesic %}" class="btn btn-success mx-3">&laquo;</a>
            <span class="mx-4"><strong>Kalendář {{ month }}/{{ year }}</strong></span>
            <a href="{% url 'kalendar' dalsi_rok dalsi_mesic %}" class="btn btn-success mx-3">&raquo;</a>
        </div>
        
        
        <div class="calendar-container">
            <table class="calendar">
                <thead>
                    <tr>
                        <th>Po</th>
                        <th>Út</th>
                        <th>St</th>
                        <th>Čt</th>
                        <th>Pá</th>
                        <th>So</th>
                        <th>Ne</th>
                    </tr>
                    {% for week in calendar %}
                    <tr>
                        {% for day in week %}
                            {% if day %}
                                <td {% if day in treninkove_dny %} style="background-color: lightgreen;" {% endif %}>
                                    <a href="{% url 'zapistreninku' datum=day %}" class="btn btn-light btn-outline-secondary">{{ day }}</a>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}  
                    </tr>
                {% endfor %} 
            </table>
        </div> 
    </div> 
    {% endblock %}     
</body>
</html>