{% extends 'kalendar.html' %}

{% block content %}
<div class="container">
    <div class="text-left" style="flex: 1; padding: 20px;">
        <h2>Registrace</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="border-radius: 10px; padding: 10px 15px; background-color: green; color: white; border: none; cursor: pointer;">
                Registrovat se
            </button>
        </form>
    </div>
</div>
<style>
    input, select, textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border-radius: 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        width: 250px;
    } 
</style>

{% endblock %}