{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Zápis tréninku na {{ datum }}</h2>

<form method="POST" class="text-center">
    {% csrf_token %}
    <label for="trenink">Typ tréninku</label>
    <select name="trenink" id="trenink">
        <option value="posilovna">Posilovna</option>
        <option value="outdoor">Outdoor</option>
    </select>
    <br><br>
    <label for="pozn">Poznámky:</label>
    <textarea name="pozn" id="pozn"></textarea>
    <br><br>
    <button type="submit">Uložit trénink</button>
</form>

<a href="base.html">Zpět do kalendáře</a>
{% endblock %}