{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Zápis tréninku na {{ datum }}</h2>

<h3>Tréninky na tento den:</h3>
<ul>
    {% for trenink in treninky %}
        <li>{{ trenink.doba }} hodiny, {{ trenink.typ }} - {{ trenink.popis }}</li>
    {% empty %}
        <li>Volno</li>
    {% endfor %}
</ul>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Uložit trénink</button>
</form>

<a href="base.html">Zpět do kalendáře</a>
{% endblock %}